.card {
    text-align: center;
    width: 400px;
    height: 600px;
    display: flex;
    margin: auto;
    margin-top: 100px;
    flex-direction: column;
}

.card img {
    width: 100%;
}


.card p {
    font-size: 25px;
    line-height: 30px;
    margin-top: 50px;
    color: white
}

.card a {
    margin-top: 30px;
    font-size: 15px;
    text-decoration: none;
    transition: 200ms;
}

.card a:hover {
    transform: translateY(-7px);
}

#starter {
    color: #785cc4 ;
}

#gostack {
    color: #04d361;
}

#launchbase {
    color: #ff941c;
}