{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/infocursos.css">
{% endblock styles %}

{% block content %}

    <div class="card" id="{{cursos.id}}">
        <div class="card-img" >
            <img src="{{cursos.imgUrl}}" alt="{{cursos.id}}">
        </div>
        <div class="card-content">
            {{cursos.description}}
        </div>
    </div>

{% endblock content %}