{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="styles/conteudo.css">
{% endblock styles %}

{% block title %}
        <title>Cursos</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="cards">
            {% for curso in cursos %}
                <div class="card" id="{{curso.id}}">
                    <div class="card-img" >
                        <img src="{{curso.imgUrl}}" alt="{{curso.id}}">
                    </div>
                    <div class="card-content">
                        {{curso.description}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="scripts/modal.js"></script>
{% endblock scripts %}
