{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/infocursos.css">
{% endblock styles %}

{% block content %}

    <div class="card" id="{{item.id}}">
        <div class="card-img" >
            <img src="{{item.imgUrl}}" alt="{{item.id}}">
        </div>
        <div class="card-content">
            {{item.description}}
        </div>
        <a href="https://rocketseat.com.br/{{item.id}}" target="__blank" id="{{item.id}}">Abrir site</a>
    </div>

{% endblock content %}