<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/style.css">
{% block styles %}
    
{% endblock styles %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
{% block title %}
    <title>Desafio 3</title>
{% endblock title %}

</head>
<body>
    
    <header>
        <nav>
            <a href="/">Conteúdo</a>
            <a href="/sobre">Sobre</a>
        </nav>
    </header>


{% block content %}

{% endblock content %}

    <footer>
        <nav>
            <a href="https://github.com/Rocketseat" target="__blank">
                <img src="/assets/github.svg" alt="github rocketseat">
            </a>
            <a href="https://pt-br.facebook.com/rocketseat/" target="__blank">
                <img src="/assets/instagram.svg" alt="instagram rocketseat">
            </a>
            <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="__blank">
                <img src="/assets/facebook.svg" alt="facebook rocketseat">
            </a>
        </nav>
    </footer>

{% block modal %}

{% endblock modal %}

{% block scripts %}

{% endblock scripts %}
</body>
</html>
