{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/not-found.css">
{% endblock styles %}


{% block content %}
    <div class="mensagem">
        <h1>Página não encontrada</h1>
        <img src="/assets/alert-circle.svg" alt="">
    </div>

{% endblock content %}
