{% extends "layout.njk" %}



    {% block title %}
        <title>Sobre</title>
    {% endblock title %}

{% block content %}



    <main>
        <div class="content">
            <div class="content-img">
                <img src="{{sobre.img}}" alt="{{Sobre.nome}}">
            </div>
            
            <h1>{{sobre.nome}}</h1>

            <div class="rocket-info">
                {{sobre.info}}
            </div>

            <div class="techs">
            <p>Pricipais tecnologias:</p>
                <ul>
                    <li>HTML;</li>
                    <li>CSS;</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </div>
    </main>

{% endblock content %}
