{% extends "layout.njk" %}



    {% block title %}
        <title>Sobre</title>
    {% endblock title %}

{% block content %}



    <main>
        <div class="content">
            <div class="content-img">
                <img src="/assets/seat.jpg" alt="Rocketseat">
            </div>
            
            <h1>Rocketseat</h1>

            <div class="rocket-info">
                <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.
            </p> 
            </div>

            <div class="techs">
            <p>Pricipais tecnologias:</p>
                <ul>
                    <li>HTML;</li>
                    <li>CSS;</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </div>
    </main>

{% endblock content %}
